.nav-button {
    background-color: var(--nav-button-base-color);
    color: var(--nav-button-content-base-color);

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: none;
    padding: 0;

    height: 2.5rem;
    width: 100%;
}

.nav-button:hover {
    background-color: var(--nav-button-hover-color);
}

.nav-button:hover * {
    color: var(--nav-button-content-hover-color);
    fill: var(--nav-button-content-hover-color);
}

.nav-button:focus {
    outline: none;
}

.nav-button-icon {
    display: block;
    margin: auto;

    height: 1.8rem;
    width: 1.8rem;
    fill: var(--nav-button-content-base-color);
}

.nav-button-text {
    display: none;
}

@media (min-width: 576px) {
    .nav-button {
    }

    .nav-button-content {
    }

    .nav-button-text {
    }
}

@media (min-width: 768px) {
    .nav-button {
        width: 85%
    }

    .nav-button-content {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas:
                'icon text';
        align-items: center;
    }

    .nav-button-icon {
        grid-area: icon;
        margin: 0;
        justify-self: center;
        height: 1.6rem;
        width: 1.6rem;
    }

    .nav-button-text {
        grid-area: text;
        justify-self: left;
        margin-left: .8rem;
        display: block;
    }
}

@media (min-width: 992px) {
    .nav-button {
    }

    .nav-button-content {
    }

    .nav-button-text {
    }
}

@media (min-width: 1200px) {
    .nav-button {
    }

    .nav-button-content {
    }

    .nav-button-text {
    }
}