.nav-pane {
    --nav-pane-background-color: white;

    --nav-pane-btn-background-color: white;
    --nav-pane-btn-background-color-hover: #5843BE;

    --nav-pane-btn-content-color: #A5AAB5;
    --nav-pane-btn-content-color-hover: white;

    height: 100vh;
    width: 15vw;
    min-width: 3rem;

    background-color: var(--nav-pane-background-color);

    display: grid;
    grid-template-rows: 10% auto 10% 10%;
    grid-template-areas:
        "logo"
        "navigation"
        "settings"
        ".";
}

.nav-pane-logo {
    grid-area: logo;
    width: 100%;
}

.nav-pane-navigation {
    grid-area: navigation;
    width: 100%;
}

.nav-pane-settings {
    grid-area: settings;
    width: 100%;
}

.nav-pane-btn-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--nav-pane-btn-content-color)
}

.nav-pane-btn-text {
    display: none;
}

.nav-pane ul {
    list-style: none;
    margin: 0;
    border: 0;
    padding: 0;
}

.nav-pane li {
    margin: 0 0 5px;
    border: 0;
    padding: 0;

    background-color: var(--nav-pane-btn-background-color);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 3rem;
    width: 100%;
}

.nav-pane li:hover {
    background-color: var(--nav-pane-btn-background-color-hover);
}

.nav-pane li:hover .nav-pane-btn-icon {
    fill: var(--nav-pane-btn-content-color-hover);
}

@media (min-width: 576px) {

    .nav-pane {
        width: 25vw;
    }

    .nav-pane li {
        width: 85%;
        margin-left: auto;
        margin-right: auto;

        border-radius: 5px;

        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas:
                "icon text";
        align-items: center;

    }

    .nav-pane-btn-icon {
        grid-area: icon;
        justify-self: center;
    }

    .nav-pane-btn-text {
        grid-area: text;
        display: inline;
        justify-self: left;
        margin-left: .6rem;
        color: var(--nav-pane-btn-content-color);
        text-decoration: none;
    }

    .nav-pane li:hover .nav-pane-btn-text {
        color: var(--nav-pane-btn-content-color-hover)
    }



}